@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row .col {
  padding: 0 5px !important;
}

.spacer {
  flex: 1 1 auto;
}

.input-field {
  margin: 0 !important;
}

.scroll-horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}
